.cart_icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

.shopping_icon {
    width: 26px;
    height: 26px;
    color: #000000;
    margin-bottom: 12px;
    font-size: 1.5rem;
}
}

.shopping_item_count {
    position: absolute;
    font-size: 12px;
    bottom: 16px;
    color: #000000;

}